{% extends 'quotes/base.html' %}
{% load extract %}

{% block body %}


<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}

        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
            <span>by <small class="author" itemprop="author">{{quote.author|author}}</small>
            <a href="{% url 'quotes:about_author'  quote.id %}">(about)</a>
            </span>
                <div class="tags">
                    Tags:
                    {% for tag in quote.tags.all %}
                    <a class="tag" href="{% url 'quotes:select_by_tag' tag.id %}">{{tag.name}}</a> 
                    {% endfor %}
                </div>
        </div>

    {%  endfor %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if quotes.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="{% url 'quotes:root_paginate' quotes.previous_page_number %}">Previous</a>
            </li>
            {% endif %}

            {% for page_num in paginator.page_range %}
            <li class="page-item {% if page_num == quotes.number %}active{% endif %}">
                <a class="page-link" href="{% url 'quotes:root_paginate' page_num %}">{{ page_num }}</a>
            </li>
            {% endfor %}

            {% if quotes.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'quotes:root_paginate' quotes.next_page_number %}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    </div>

    <div class="col-md-4 tags-box">
        <h2>Top Tags</h2>
        <ul>
            {% for tag in top_tags %}
            {% if tag.name %}
            <li>
                <span class="tag-item">
                    <a class="tag" style="font-size: 18px" href="{% url 'quotes:select_by_tag' tag.id %}">{{ tag.name }}: {{ tag.quote_count }}</a>
                </span>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    
</div>

{% endblock %}